<div class="container">
    <div class="row">
        <h1>Edit Personal Info:</h1>
    </div>
    <div class="row">
        <div class="col-4">
        <%= form_for @user do |f| %> 
            <div class="row">
            <%= f.label :name, 'Name' %>
            </div>
            <div class="row user-edit-field">
            <%= f.text_field :name, {placeholder: @user.name} %> 
            </div>
            <div class="row">
            <%= f.label :email, 'Email' %>
            </div>
            <div class="row">
            <%= f.text_field :email, {placeholder: @user.email} %> 
            </div>
            <div class="row">
            <%= f.label :password, 'Change Password' %>
            </div>
            <div class="row">
            <%= f.password_field :password, {placeholder: "Change Password"} %> 
            </div>
            <div class="row">
            <%= f.label :password_confirmation, "Confirm Password" %>
            </div>
            <div class="row">
            <%= f.password_field :password_confirmation, {placeholder: "Confirm Password"} %>
            </div>
            <div class="row">
            <%= f.label :age, 'Age' %>
            </div>
            <div class="row">
            <%= f.number_field :age, {placeholder: @user.age} %>
            </div>
            <div class="row"> 
            <%= f.label :height, 'Height (Inches)' %>
            </div>
            <div class="row">
            <%= f.number_field :height, {placeholder: "Enter your current height"} %> 
            </div>
            <div class="row">
            <%= f.label :weight, 'Weight (lbs)' %>
            </div>
            <div class="row">
            <%= f.number_field :weight, {placeholder: "Enter your current weight"} %> 
            </div>
            <div class="row">
            <%= f.label :start_weight, 'Start Weight (lbs)' %>
            </div>
            <div class="row">
            <%= f.number_field :start_weight, {placeholder: "Start Weight"} %> 
            </div>
            <div class="row">
            <%= f.submit "Update Information" %> 
            </div>
        <% end %> 
        </div>
        <div class="col-8">
            
        </div>
    </div>

    <br />

    <%= link_to "Cancel", user_path(@user) %> 

    <br />

    <%= link_to "Delete Account", user_path, method: 'delete' %> 

</div>