<h1><%= @user.name %>'s Personal Health Page</h1>

<p>Age: <%= @user.age %></p>
<p>Email: <%= @user.email %></p>
<p>Current Height: <%= @user.height %> inches</p>
<p>Start Weight: <%= @user.start_weight %> pounds</p>
<p>Current Weight: <%= @user.weight %> pounds</p>

<%= link_to "Edit Information", edit_user_path %>

<br />

<h3>Health Calendar:</h3>
<!-- <%# month_calendar do |date| %>
    <%# date %>
<%# end %> -->

<%= month_calendar attribute: :time_done, events: @exercises do |date, exercises| %>
    <%= date %>

    <% exercises.each do |e| %>
        <div class="exercises">
            <%= e.name_of_exercise %>
        </div>
    <% end %>
    <!-- As the items are appended to a day, it increases the space that day takes up -->
    <!-- <%# diets.each do |d| %>
    <div class="diets">
        <%# d.meal_name %>
    </div>
    <%# end %> -->
<% end %>

<br />

<h3>Exercises:</h3>
<ul>
    <% @user.exercises.each do |e| %>
        <li><%= e.name_of_exercise %>
            <ul>
                <li>Type of Exercise: <%= e.exercise_category %></li>
                <li>Calories Burned (If known): <%= e.calories_burned %> calories</li>
                <li>Duration of Exercise: <%= e.duration %> minutes</li>
                <li>Distance Traveled: <%= e.distance %> miles</li>
                <li>Number of Repititions: <%= e.repititions %> reps</li>
                <li><%= link_to "Edit Exercise", edit_exercise_path(e.id) %></li>
            </ul>
        </li>
    <% end %> 
</ul>

<%= link_to "Add an Exercise", new_exercise_path %> 

<br />

<h3>Diet:</h3>
<ul>
    <% @user.diets.each do |d| %>
        <li><%= d.meal_name %>
            <ul>
                <li>Calories (If known): <%= d.calories %> calories</li>
                <li>Healthy meal: <%= d.healthy %></li>
                <li>Meal Description: <%= d.description %></li>
                <li><%= link_to "Edit Meal", edit_diet_path(d.id) %></li>
            </ul>
        </li>
    <% end %> 
</ul>

<%= link_to "Add Dietary Information", new_diet_path %>

<h3>Goals:</h3>
<ul>
    <% @user.goals.each do |g| %>
        <li><%= g.goal_type %>
            <ul>
                <li>Description: <%= g.description %></li>
                <li>Goal Status: <%= g.completed %></li>
                <li><%= link_to "Edit Goal", edit_goal_path(g.id) %></li>
            </ul>
        </li>
    <% end %> 
</ul>

<%= link_to "Add a Goal", new_goal_path %> 

<br />
<br />

<%= link_to "Log Out", logout_path, method: "delete" %> 