<h1><%= @user.name %>'s Personal Health Page</h1>

<p>Age: <%= @user.age %></p>
<p>Email: <%= @user.email %></p>
<p>Current Height: <%= @user.height %> inches</p>
<p>Current Weight: <%= @user.weight %> pounds</p>

<%= link_to "Edit Information", edit_user_path %>