<div class="container">

    <h1 class="user-name"><%= @user.name %>'s Personal Health Page</h1>

    <p class="user-info">Age: <%= @user.age %></p>
    <p class="user-info">Email: <%= @user.email %></p>
    <p class="user-info">Current Height: <%= @user.height %> inches</p>
    <p class="user-info">Start Weight: <%= @user.start_weight %> pounds</p>
    <p class="user-info">Current Weight: <%= @user.weight %> pounds</p>

    <%= link_to "Edit Information", edit_user_path %>

    <br />

    <h3 class="user-calendar">Health Calendar:</h3>
    <!-- <%# month_calendar do |date| %>
        <%# date %>
    <%# end %> -->

    <%= month_calendar attribute: :on, events: @events do |date, events| %>
        <%= date.day %>
        <% exercises = Exercise.where on: date %>
        <% diets = Diet.where on: date %>
        <% goals = Goal.where on: date %>

        <!-- set it up so that if exercise info exists... Display a little icon (same for diets and goals)
        use the same code but do and if exercises.count > 0 do ... and instead of creating a p, create an icon -->
        <br />
        <% if (exercises.count > 0) %>
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
        <% end %>
        <br />
        <% if (diets.count > 0) %>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
        <% end %>
        <br />
        <% if (goals.count > 0) %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
        <br />
        <!-- <%# goals.each do |g| %>
            <p class="goals">
                <%# g.goal_type %>
                Goal
            </p>
        <%# end %> -->
    <% end %>

    <br />

    <!-- Go back and add a weight column to exercises so users can log how much weight they tossed around -->

    <%= link_to "Log Out", logout_path, method: "delete" %> 

</div>