<h1><%= @user.name %>'s Personal Health Page</h1>

<p><%= @user.age %></p>
<p><%= @user.email %></p>
<p><%= @user.height %></p>
<p><%= @user.weight %></p>

<%= link_to "Edit Information", edit_user_path %>