<div class="container">

<h1>Goals are good! Add a goal to your page!</h1>

<%= form_for @goal do |f| %>
    <%= f.label :goal_type, "Type of Goal* (Long Term? Fitness? Dietary?)" %>
    <br />
    <%= f.text_field :goal_type, {placeholder: "Enter goal type here"} %> 
    <br />
    <%= f.label :description, "Description of Goal*" %>
    <br />
    <%= f.text_field :description, {placeholder: "Add brief description here"} %> 
    <br />
    <%= f.label :completed, "Have you completed this goal?" %>
    <br />
    <%= f.text_field :completed, {placeholder: "True or False"} %> 
    <br />
    <%= f.label :on, "Set a due date for this goal*" %>
    <br />
    <%= f.date_field :on, {placeholder: "Date"} %> 
    <br />
    <%= f.submit "Create Goal" %>
<% end %> 

<br />

<%= link_to "Back", user_path(@user) %> 

</div>