<div class="diet-new">

<div class="container">

    <div class="row">

    <div class="col">

    </div>
    <div class="col">
    <h1>Add a meal to your log!</h1>
    <p>Blank sections with not be included in your log!</p>

    <%= form_for @diet do |f| %>
        <%= f.label :meal_name, "Meal Name*" %>
        <br />
        <%= f.text_field :meal_name, {placeholder: "Breakfast? Snack?"} %> 
        <br />
        <%= f.label :description, "Brief Description*" %>
        <br />
        <%= f.text_field :description, {placeholder: "What'd you eat?"} %> 
        <br />
        <%= f.label :on, "When did you eat this meal?" %>
        <br />
        <%= f.date_field :on, {placeholder: "Date"} %> 
        <br />
        <%= f.label :calories, "Calories (If known) Enter 0 if unknown" %>
        <br />
        <%= f.number_field :calories, {placeholder: "Calories Consumed"} %> 
        <br />
        <%= f.label :healthy, "Do you consider this a healthy meal? (True or False)" %>
        <br />
        <%= f.text_field :healthy, {placeholder: "True or False"} %> 
        <br />
    <div class="row top-spacing left-spacing">
        <%= f.submit "Add to log" %>
        <% end %> 
    </div>
</div>

</div>
</div>

</div>