<h1>Edit Exercise: <%= @exercise.name_of_exercise %></h1>

<p>Blank sections will not be displayed!</p>

<%= form_for @exercise do |f| %>
    <%= f.label :name_of_exercise, "Name of Exercise" %>
    <br />
    <%= f.text_field :name_of_exercise, {placeholder: "Enter a name for your exercise"} %> 
    <br />
    <%= f.label :exercise_category, "Type of Exercise (Ex: Cardio)" %>
    <br />
    <%= f.text_field :exercise_category, {placeholder: "Exercise category"} %> 
    <br />
    <%= f.label :calories_burned, "Calories Burned (If known)" %>
    <br />
    <%= f.number_field :calories_burned, {placeholder: "Known Calories Burned"} %> 
    <br />
    <%= f.label :duration, "Time spent doing Exercise" %>
    <br />
    <%= f.number_field :duration, {placeholder: "Enter minutes"}%> 
    <br />
    <%= f.label :distance, "Distance covered" %>
    <br />
    <%= f.number_field :distance, {placeholder: "Enter miles"} %> 
    <br />
    <%= f.label :repititions, "Number of Repititions" %>
    <br />
    <%= f.number_field :repititions, {placeholder: "Enter # of Repititions"} %> 
    <br />
    <%= f.label :time_done, "When did you do this exercise?" %>
    <br />
    <%= f.date_field :time_done, {placeholder: "Date"} %> 
    <br />
    <%= f.submit "Update Exercise Info" %> 
    <br />
<% end %> 

<%= link_to "Cancel", user_path(@user) %> 

<br />

<%= link_to "Delete Exercise", exercise_path, method: 'delete' %> 


