<div class="exercise-new">
<div class="container">

    <h1>Add an Exercise to your page!</h1>
    <p>Leave sections blank if you don't know the information, 
        <br /> or the information doesn't apply to your particular exercise!</p>

    <div class="row">
        <div class="col-4">
                <%= form_for @exercise do |f| %>
                    <div class="row">
                        <%= f.label :name_of_exercise, "Name of Exercise" %>
                    </div>
                    <div class="row">
                        <%= f.text_field :name_of_exercise, {placeholder: "Run, Push-ups, etc"} %>
                    </div>    
                    <div class="row">
                        <%= f.label :exercise_category, "Type of Exercise (Ex: Cardio)" %>
                    </div>
                    <div class="row">
                        <%= f.text_field :exercise_category, {placeholder: "Exercise category"} %> 
                    </div>
                    <div class="row">
                        <%= f.label :calories_burned, "Calories Burned (If known)" %>
                    </div>
                    <div class="row">
                        <%= f.number_field :calories_burned, {placeholder: "Calories Burned"} %> 
                    </div>
                    <div class="row">
                        <%= f.label :duration, "Time spent doing Exercise" %>
                    </div>
                    <div class="row">
                        <%= f.number_field :duration, {placeholder: "Enter minutes"}%> 
                    </div>
            </div>    
            <div class="col-4">
                <div class="row">
                    <%= f.label :distance, "Distance covered" %>
                </div>
                <div class="row">
                    <%= f.number_field :distance, {placeholder: "Enter miles"} %> 
                </div>
                <div class="row">
                    <%= f.label :repititions, "Number of Repititions" %>
                </div>
                <div class="row">
                    <%= f.number_field :repititions, {placeholder: "Enter # of Reps"} %> 
                </div>
                <div class="row">
                    <%= f.label :weight, "Weight Used for Exercise" %>
                </div>
                <div class="row">
                    <%= f.number_field :weight, {placeholder: "Weight (pounds)"} %> 
                </div>
                <div class="row">
                    <%= f.label :on, "When did you do this exercise?" %>
                </div>
                <div class="row">
                    <%= f.date_field :on, {placeholder: "Date"} %> 
                </div>
            </div>
            <div class="col-4">

            </div>
    </div>
    <div class="row">
        <div class="col-6 center top-spacing">
            <%= f.submit "Add Exercise" %> 
            <% end %> 
        </div>
        <div class="col-6">

        </div>
    </div>

</div>
</div>
