<!DOCTYPE html>
<html>
  <head>
    <title>WDIProject2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script data-version="v1" data-widget-id="d42162df-245d-4f80-b69c-041257664be8" id="sonar-ping-async-embedder" type="text/javascript"> (function() { function async_load(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; var theUrl = '//www.sendsonar.com/assets/send-sonar.js'; s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + 'ref=' + encodeURIComponent(window.location.href); var embedder = document.getElementById('sonar-ping-async-embedder'); embedder.parentNode.insertBefore(s, embedder); } if (window.attachEvent) window.attachEvent('onload', async_load); else window.addEventListener('load', async_load, false); })(); </script>
  </head>

  <body>
    <%= render 'layouts/partials/navbar' %>
    <%= render 'layouts/partials/flashes' %>
    <%= yield %>
  </body>
</html>
